name: Ansible Galaxy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: run ansible-later action
        uses: patrickjahns/ansible-later-action@master
        with:
          # config: .later.yml
          path: tasks

  release:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: galaxy
        uses: buluma/galaxy-action@v1.0.3
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
